{{> header}}

<body>
    
    {{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>About page</h1>
            <p>MERN Stack</p>
            <img src="assets/img/image.png" class="img-thumbnail" width="400px" height="178px">
        </div>

    </div>


    {{> footer}}