
    {{> header }}

<body>

    {{> navbar }}

        <div class="form" data-aos="flip-left">
            <div class="form-group">
                <label for="formGroupExampleInput">Name</label>
                <input type="text" class="form-control" id="IdCE" placeholder="example">
            </div>
            <br>
            <div class="form-group">
                <label for="formGroupExampleInput2">E-mail</label>
                <input type="email" class="form-control" id="IdEM" placeholder="example@example.com">
            </div>
            <br>
            <div class="form-group">
                <label for="formGroupExampleInput2">Type your text</label>
                <input type="text" class="form-control" id="IdTxt" placeholder="Text">
            </div>
            <br>
            <button class="btn btn-primary" id="IdBtnSend" type="submit">Send</button>
        </div>


    {{> footer }}
