
    {{> header }}

<body>

    {{> navbar }}

    <div data-aos="fade-right" class="jumbotron">
        <h1 class="display-4">Bienvenido a A&V Shop!</h1>
        <p class="lead" style="text-align: center;">Somos tienda Online! Ropa importada de la mejor calidad al mejor precio del Mercado</p>
        <p class="lead" style="text-align: center;">Siguenos en instagram: @avshop.mcbo</p>
        <hr class="my-4">
        <p class="lead" style="text-align: center;">
            <a class="btn btn-primary btn-lg" target="_black" href="https://www.instagram.com/avshop.mcbo/" role="button">Link de la tienda</a>
        </p>
    </div>

    <br>

    {{> footer }}
